body {
  background-color: #1a1a1a;
  color: white;
  font-size: 16px;
  font-family: 'Vollkorn', serif;

  margin: 0;
  min-height: 100vh;
}

.wrapper {
  max-width: 600px;
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 5px;

  font-size: 1.2em;
  font-weight: 600;
}

h2 {
  margin-top: 20px;
  margin-bottom: 0px;

  font-size: 1.2em;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 1.2em;
  font-weight: 500;
}

p {
  margin: 5px 0px;

  font-weight: 100;
}

.project-card {
  background: #242424;
  padding: 18px;
  border-radius: 12px;
  margin-top: 5px;
}

.teches {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.teches span {
  padding: 5px 10px;
  background: #2a2a2a;
  border-radius: 8px;
}

.link {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
}

a {
  color: #c9d1d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contact h2 {
  margin-bottom: 5px;
}

.contact p {
  margin: 0px 0;
}